
/*Aliaa Edits*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

.slick-slider .slick-track, .slick-slider .slick-list{
        direction: ltr;
}
@font-face {
    font-family: DroidKufi;
    src: url(/static/tetco-theme/fonts/DroidKufi-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #555555;
    font-family: DroidKufi;
    font-size: 15px;
    font-weight: normal;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #262626;
    font-family: DroidKufi;
    font-style: normal;
    line-height: 1.5;
    margin: 0 0 8px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #262626;
}
p a {
    color: #262626;
}
a:hover{
	    text-decoration: none !important;
    color: #eee !important;
}
p {
    line-height: 26px;
    margin-bottom: 10px;
}
.social-sharing a span:hover{
		    text-decoration: none !important;
		    color:#589abf;
		    transform: scale(1.1);
}
.social-sharing a span{
	transition: all .2s ease-in-out; 
}
a {
    color: #262626;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
}
ul {
    margin-bottom: 0;
}
figure {
    margin-bottom: 6px;
    position: relative;
}
img {
    height: auto;
    max-width: 100%;
}
strong {
    color: #262626;
}
iframe {
    border: none;
    float: left;
    width: 100%;
}
.wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor {
}
.wp-caption.alignleft, .wp-caption.alignnone {
    width: 100%;
}
select {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 17px !important;
    font-weight: 300 !important;
    height: 40px !important;
    padding: 3px 12px !important;
    width: 100% !important;
}
select:focus,select:hover {
	background-color: transparent !important;
    border: 1px solid transparent !important;
}
select option{
	color:#000 !important;
}
.settings-language-form {
    float: left;
    padding: 0 !important;
    margin-top: -5px !important;
}
label {
    color: #6c8391;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}
button {
    border: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
    color: #aaa9a9;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    outline: none;
    padding: 4px 6px;
    vertical-align: middle;
    box-shadow: none;
}
input[type="submit"] {
    outline: none;
}
form p {
    float: left;
    position: relative;
}
form p span i {
    color: #474747;
    left: 16px;
    position: absolute;
    top: 13px;
}
option {
    padding: 5px 15px;
}
li {
    line-height: 28px;
    list-style: inside none disc;
}
ul ul {
    margin-left: 20px;
}
ol {
    float: none;
    list-style: outside none decimal;
    padding-left: 15px;
}
ol ol {
    margin-left: 20px;
}
ol li {
    list-style: outside none decimal;
    width: 100%;
}
table {
    background-color: transparent;
    max-width: 100%;
}
th {
    text-align: left;
}
table {
    margin-bottom: 15px;
    width: 100%;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border: 1px solid #dddddd;
    line-height: 2.5;
    padding-left: 3px;
    text-align: center;
    vertical-align: top;
}
table thead tr th {
    border-top: 1px solid #dddddd;
    text-align: center;
    text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #dddddd;
}
table > thead > tr > th {
    border-bottom: 2px solid #dddddd;
    vertical-align: bottom;
}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {
    border-bottom: 0 none;
}
table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 10px;
}
p ins {
    color: #999;
}
dl dd   { margin-left: 20px; }
address { font-style: italic; }

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #262626;
    font-family: DroidKufi;
    font-style: normal;
    line-height: 1.5;
    margin: 0 0 8px;
}


.education-create-account form ul li label , .education-create-account form ul li input,.education-create-account {
	
    font-family: DroidKufi;

}

body{
	font-size:16px !important;
}
h5 {
    font-size: 18px !important;
}
@media (min-width: 992px){
	.container {
		padding: 0 !important;
	
	}
	}

	.education-user-section li a {
    color: #ffffff !important;
  
}
.education-user-section a{
	font-size:17px !important;
}
ul, ol {
    padding: 0 0 0 0;
    margin: 1em 0;
    padding:0 !important;
}

.navbar-nav > li > a:before, .education-banner-caption span.banner-title:before {
    border-top-color: #59a0bf;
}
.education-user-section > li {
    margin-left: 30px;
    padding: 16px 0px 16px 0px;
    font-size: 14px;
}
.education-service-grid-wrap h5 a{
	color:#000 !important;
}
.education-service-grid-wrap  a{
	color:#000 !important;
}
.education-language-menu li a{
	color:#000 !important;
}

//
.education-userinfo li a{
	font-size:17px !important;

}
.education-userinfo li{
	    font-size: 16px !important;
}
.education-header-two .navbar-nav > li{
	    padding: 42px 19px 30px;
}

.education-newslatter-text form input{
	text-shadow: none;
    border-radius: inherit;
    padding-top: 18px;
    padding-bottom: 18px;
}

.education-newslatter-text form input[type="submit"]{
font-family: DroidKufi;
}

input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled){
	background-color: transparent !important;
    background: linear-gradient(325deg, #59bfb9, #5891c1);
    
}

input[type="submit"], input[type="button"], button, .button{
	
	    box-shadow: none !important;
	    color: #000 !important;
	    background-image: none !important;
	    text-shadow: none !important;
}

text-center Education-more a{
	font-family: DroidKufi;
    font-size: 19px;

}
.education-create-account form ul li label,.education-create-account form ul li input{
	font-family: DroidKufi;
}
.Fliper{
    transform: rotateY(180deg);
}
.education-create-account form ul li label{
	    font: normal 300 1rem/1.6rem Georgia,Cambria,'Times New Roman',Times,serif;
    margin: 0px 0px 7px;
    float: right;
    font-size: 16px;
    color: #262626;
    font-weight: bold;
    position: relative;
    font-family: DroidKufi;
}
.education-userinfo li {
    list-style: none !important;
    float: right !important;
    color: #ffffff !important;
    font-size: 14px;
    padding: 19px 20px 19px 20px !important;
    margin-right: 11px !important;
}

.education-newslatter-text form input[type="submit"]{
	font-size:17px;
}

.modal, .leanModal_box{
	    width: 100% !important;
	    background: transparent !important;
	    padding: 430px !important;
        padding-top: 10px !important;
}
@media(max-width: 1024px){
    .modal, .leanModal_box{
        padding: 13px !important;
        padding-top: 0 !important;
    }
}
@media(max-width:734px){
	.education-modren-course .star-rating{
	position: absolute;
    right: 133px;
    top: 19px;
    height: 16px;
    line-height: 23px;
    width: 58px;
	}
}
//contact us
.education-contact-us-form form ul li i {
    position: absolute;
    left: 15px !important;

}
.education-course-list-text{
	width:100%;
}
.widget_gallery ul li:hover a:before{
	opacity:0 !important;
}
.education-copyright p a:hover{
color:#eee;
	
}