<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

  <!--// Main Section \\-->
<div class="education-main-section education-modren-coursefull" style="background: #eee;">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="education-fancy-title">
                    <i class="fa fa-graduation-cap"></i>
                    <span>اختر الدورة</span>
                    <h2>أفضل الدورات</h2>
                </div>
                <div class="education-course education-modren-course">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <ul class="row">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:homepage_course_max]:
          <li class="col-md-4">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
   
   
 % endif
             <div class="text-center Education-more"> <a href="${marketing_link('COURSES')}" class="education-post-btn2 ">${_("View all Courses")}</a></div>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>



